body{
    font-family: sans-serif;
    margin: 0;
  }

  a {
      text-decoration: none;
      color: white;
  }
  header {
  position: fixed; /* Hace que el header quede fijo arriba */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  min-height: 70px;
  background: linear-gradient(0deg,rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.77) 35%);
  font-size: 15px ;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

  .logo{
    display: flex;
    align-items: center;
  }

  .logo img{
    height: 60px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 5px;
  }

  nav a{
    font-weight: 600;
    padding-right: 10px;
    font-size: 15px;
    margin: 0 20px;
  }

  nav a:hover{
    color: red;
  }

  @media (max-width:700px){
    header{
        flex-direction: column;
        transition: color 0.3s ease;
    }

    nav{
        padding: 10px 0px;
    }
  }
  .cotizar-btn {
  background-color: #e60000; /* Rojo fuerte */
  color: white;
  padding: 10px 20px;
  border-radius: 30px; /* Hace el botón más redondeado */
  font-weight: normal
  text-decoration: none;
  transition: background-color 0.3s ease, font-weight 0.3s ease;
  border: none;
}
.cotizar-btn:hover {
  background-color: black;
  font-weight: bold;  /* más grueso al pasar el cursor */
}
.banner-solo img {
  width: 100%;
  height: auto;
  display: block;
}

.vip-car {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  gap: 40px;
  flex-wrap: wrap; /* para que se acomode en celulares */
}

.vip-texto {
  flex: 1;
}

.vip-texto h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  color: #222;
}

.vip-texto p {
  font-family: 'Lato', sans-serif;
  font-weight: 300; /* Más fino */
  font-size: 16px;
  color: #444;
  line-height: 1.6;
}

.vip-imagen {
  flex: 1;
  text-align: center;
}

.vip-imagen img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.urus {
  background-image: url(bsnner\ urus.jpg); /* imagen de fondo del banner */
  background-size: cover;
  background-position: center;
  padding: 80px 20px;
}

.contenido-urus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.texto-urus {
  flex: 1;
  color: white;
  padding-right: 30px;
  font-family: 'Open Sans', sans-serif;
}

.texto-urus h2 {
  font-size: 40px;
  margin-bottom: 15px;
  font-family: 'Orbitron', sans-serif;
  color: red;
}

.texto-urus p {
  font-size: 18px;
  line-height: 1.5;
}

.imagen-urus img {
  width: 400px;
  max-width: 100%;
  border-radius: 10px;
}